.container {
    padding: 0 360px;
}

$title-color: #000;
$subtitle-color: #D67E34;

@import 'blocks/header';
@import 'blocks/button';
@import 'blocks/description';
@import 'blocks/booking';
@import 'blocks/dishes';
@import 'blocks/menu';
@import 'blocks/comments';
@import 'blocks/gallery';
@import 'blocks/cooks';
@import 'blocks/footer';