.booking {
    padding: 80px 0 109px 0;
    background: url(../../background/bg.jpg);
    &__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        font-weight: 400;
        font-size: 52px;
        line-height: 60px;
        color: $subtitle-color;
    }
    &__text {
        font-family: 'Open Sans';
        margin-top: 20px;
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
        color: #FFFFFF;
    }
}