.button {
    width: 157px;
    height: 47px;
    background: #FF7400;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    border: none;
    text-transform: uppercase;
    &:hover {
        background-color: #b45304;
        color: black;
    }
    &__header {
        margin-top: 65px;
    }
    &__title {
        align-self: center;
        width: 137px;
        
    }
    &__menu {
        margin-top: 20px;
        width: 220px;
        height: 50px;   
        background: $subtitle-color;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    }    
}