.comments {
    padding: 108px 260px;
    background: $white-light;
    text-align: center;
    &__text {
        font-style: italic;
        font-size: 20px;
        line-height: 27px;
        color: $secondary-main;
    }
    img {
        margin-top: 20px;
        border-radius: 100%;
    }
    &__visitor {
        margin-top: 17px;
        font-weight: 600;
        font-size: 20px;
        color: $secondary-main;
    }
    &__name {
        margin-top: 9px;
        font-size: 20px;
        color: $secondary-main;
    }
}