.comments {
    padding: 106px 260px;
    min-height: 550px;
    background: $white-light;
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }    
    &__text {
        font-style: italic;
        font-size: 20px;
        line-height: 27px;
        color: $secondary-main;
        max-width: 800px;
    }
    img {
        margin: 0 auto;
        margin-top: 20px;
        border-radius: 100%;
        width: 100px;
        height: 100px;
    }
    &__visitor {
        margin-top: 17px;
        font-weight: 600;
        font-size: 20px;
        color: $secondary-main;
    }
    &__name {
        margin-top: 9px;
        font-size: 20px;
        color: $secondary-main;
    }
    
    .slick-dots {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        position: inherit;
        li button{
            width: 10px;
            height: 10px;
            background-color: $white-dark;
            border-radius: 100%;
            &:before {
                content: none;
            }
        }
        li[class="slick-active"] button  {
            background-color: $white-main;
            border: 1px solid #FF7400;
        }
    }
}