.cook {
    padding-bottom: 100px;
    &__title {
        margin-bottom: 107px;
        font-weight: 400;
        font-size: 54px;
        text-align: center;
        color: $title-color;
        span {
            color :$subtitle-color;
        }
    }
    &__img {
        display: flex;
        justify-content: space-around;
    }
}