.gallery {
    padding: 101px 167px;
    &__title {
        font-weight: 400;
        font-size: 54px;
        color: #000000;
        text-align: center;
    }
    &__subtitle {
        color:#D67E34;
    }
    &__images {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        
    }
    &__img {
        margin-right: 20px;
        width: 540px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &:nth-child(2) {
            flex-wrap: wrap-reverse;
        }
        img {
            margin-bottom: 20px;
        }
    }
}